<!--File for add member using extension from base htnml-->

{% extends "base.html" %}
{% block content %}

<h2>Add a New Member</h2>
<div class="formdiv" id="memberForm">
    <form action = "/addMember" method="POST">
    <h3>Personal Details</h3>

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" required>

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" required><br><br>

    <label for="birth_date">Date of Birth</label>
    <input type="date" name="birth_date" id="birth_date" required>

    <label for="gender">Gender</label>
    <select name="gender" required>
      <option value="" disabled selected>Select your option</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>

    <label for="weight">Weight (in lbs)</label>
    <input type="text" name="weight" id="weight" required><br><br>

    <h3>Gym Details</h3>
    <label for="program_id">Program</label>
    <select name="program_id">
      <option value="" disabled selected>--Please choose an option--</option>
      {% for p in programs %}
          <option value="{{ p[0] }}">{{ p[1] }}</option>
      {% endfor %}
    </select><br><br>

    <label for="preferred_location">Preferred Location</label>
    <select name="preferred_location" required>
    <option value="" disabled selected>--Please choose an option--</option>
      {% for l in locations %}
          <option value="{{ l[0] }}">{{ l[1] }}</option>
      {% endfor %}
    </select>

    <label for="trainer_id">Personal Trainer</label>
    <select name="trainer_id" required>
      <option value="" disabled selected>--Please choose an option--</option>
      {% for t in trainers %}
          <option value="{{ t[0] }}">{{ t[1] }}</option>
      {% endfor %}
    </select><br><br>

    <input type="submit" name="addMember" value="Add Member">
    </form>
</div>

{% endblock %}
