<!--File for add trainer using extension from base htnml-->

{% extends "base.html" %}
{% block head %}
<script src ="{{ url_for('static', filename='addRemoveQual.js') }}"></script>
<script src ="{{ url_for('static', filename='validation.js') }}"></script>
{% endblock %}
{% block content %}
<h2>Add a New Personal Trainer</h2>
<div class="formdiv" id="trainerForm">
  <form action="/addTrainer" method="POST">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" pattern="[a-zA-Z ]+" title="Special characters and numeric values are not allowed." required>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" pattern="[a-zA-Z ]+" title="Special characters and numeric values are not allowed." required></br></br>
    <label for="birth_date">Date of Birth</label>
    <input type="date" name="birth_date" id="birth_date" onchange="checkDOB()" required>
    <label for="gender">Gender</label>
    <select name="gender" required>
      <option value="" disabled selected>Select your option</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select></br></br>
    <label for="date_employed">Date of Employment</label>
    <input type="date" name="date_employed" id="date_employed" required></br></br>
    <label for="capacity">Capacity</label>
    <input type="number" name="capacity" id="capacity" min="1" max= "10" required><br><br>
    <label for="location_id">Location</label>
    <select name="location_id" required>
      <option selected value="" disabled>Select your option</option>
      {% for l in locations %}
        <option value="{{ l[0] }}">{{ l[1] }}</option>
      {% endfor %}
    </select><br><br>

    <div id="mainQualDiv">
      <div class="qualDivField" id="qualDivId">
        <label for="qual_id">Qualification</label>
        <select name='input_text' id = "qual_id" required>
         <option selected value="" disabled>Select your option</option>
          {% for q in quals %}
            <option value="{{ q[0] }}">{{ q[1] }}</option>
          {% endfor %}
        </select><br><br>
      </div>
    </div>
    <button type="button" id="removeQual" onclick="remove_qual();">Remove Qualification</button>
    <button type="button" id="addMoreQual" onclick="addQualEvent();">Add More Qualifications</button></br></br>

    <input type="submit" id="addTrainerSubmit" name="addTrainer" value="Add Personal Trainer">
  </form>
</div>

{% endblock %}
