<!--File for homepage using extension from base htnml-->

{% extends "base.html" %}
{% block content %}

<div class ="slogan">
  <h4>Welcome to the Admin Dashboard</h4>
  <h3>Health.Fitness.Together</h3>
</div>

  <div class = "brandImage">
    <table>
      <tr>
        <td id = "first" width = 40px>
          <a><img height="426" width="640"src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?cs=srgb&dl=an-on-treadmill-1954524.jpg&fm=jpg"/> </a>
        </td>
      </tr>
    </table>
  </div>

  {% endblock %}
