<!--File for locations using extension from base htnml-->

{% extends "base.html" %}
{% block content %}

<!--https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
{% with confirmations = get_flashed_messages(category_filter=["confirmation"]) %}
{% if confirmations %}
<div class="confirmation">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in confirmations %}
      <li class="confirmMessage">{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}

<h2>Fitness Club Locations</h2>
<table class="table table-hover table-condensed location-table">
  <thead>
  <tr>
   <th>Branch Name</th>
   <th>Address Line 1</th>
   <th>Address Line 2</th>
   <th>City</th>
   <th>State</th>
   <th>Zip Code</th>
   <th>Changes Required?</th>
  </tr>
  </thead>

  <tbody>
  {% for r in rows %}
  <tr>
   <td>{{r[0]}}</td>
   <td>{{r[1]}}</td>
   <td>{{r[2]}}</td>
   <td>{{r[3]}}</td>
   <td>{{r[4]}}</td>
   <td>{{r[5]}}</td>

   <td><input type='button' value='Update' name='Update' onclick="window.location='updateLocation/{{r[6]}}'"></td>

 </tr>
  {% endfor %}
</tbody>

</table>

<a class="addButton" href="{{url_for('addLocation')}}"><button>Add a Location</button></a>
{% endblock %}
