<!--File for qualifications using extension from base htnml-->

{% extends "base.html" %}
{% block content %}

<h2>Qualifications for Trainers</h2>
<table class="table table-hover table-condensed qual-table">
 <thead>
 <tr>
   <th>Qualification </th>
   <th>Is Certification? </th>
 </tr>
</thead>

<tbody>
  {% for r in rows %}
  <tr>
   <td>{{r[0]}}</td>
   <td>{{r[1]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<a class = "addButton" href="{{url_for('addQualification')}}"><button>Add a Qualification</button></a>

{% endblock %}
