<!--File for qualifications using extension from base htnml-->

{% extends "base.html" %}
{% block content %}


<!--https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
{% with confirmations = get_flashed_messages(category_filter=["confirmation"]) %}
{% if confirmations %}
<div class="confirmation">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in confirmations %}
      <li class="confirmMessage">{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}

<h2>Personal Trainers</h2>
<table class="table table-hover table-condensed trainer-table">
<thead>
<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>DOB</th>
  <th>Gender</th>
  <th>Date of Employment</th>
  <th>Capacity</th>
  <th>Location</th>
  <th>Qualifications</th>
  <th>Changes Required?</th>
</tr>
</thead>

<tbody>
  {% for r in rows %}
  <tr>
   <td>{{r[0]}}</td>
   <td>{{r[1]}}</td>
   <td>{{r[2]}}</td>


   {% if r[3] == 0 %}
        <td>Male</td>
   {% elif r[3] == 1 %}
        <td>Female</td>
   {% else %}
        <td>Other</td>
   {% endif %}


   <td>{{r[4]}}</td>
   <td>{{r[5]}}</td>
   <td>{{r[6]}}</td>
   <td>{{r[7]}}</td>
   <td><a href="{{url_for('updateTrainer')}}"><button>Update</button></a>
      <a href=""><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</tbody>

</table>

<a class="addButton" href="{{url_for('addTrainer')}}"><button>Add a Trainer</button></a>


{% endblock %}
