<!--File for update member using extension from base htnml-->

{% extends "base.html" %}
{% block content %}

<h2>Update Member</h2>
<div class="formdiv" id="memberForm">
    <form>
    <h3>Personal Details</h3>
    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname">
    <label for="lname">Last Name</label>
    <input type="text" name="lname" id="lname"><br><br>
    <label for="date">Date of Birth</label>
    <input type="date" name="DOB" id="DOB">
    <label for="gender">Gender</label>
    <select name="genderDropdown">
      <option value="genderDropdown">--Please choose an option--</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <label for="weight">Weight (in lbs)</label>
    <input type="text" name="weight" id="weight"><br><br>
    <h3>Gym Details</h3>
    <label for="programDropdown">Program</label>
    <select name="programDropdown">
      <option value="">--Please choose an option--</option>
      <option value="prog1">program 1</option>
      <option value="prog2">program 2</option>
      <option value="prog3">program 3</option>
    </select><br><br>
    <label for="LocationID">Preferred Location</label>
    <select name="LocationID">
      <option value="location1">Location1</option>
      <option value="location2">Location2</option>
      <option value="location3">Location3</option>
    </select>
    <label for="trainerDropdown">Personal Trainer</label>
    <select name="trainerDropdown">
      <option value="">--Please choose an option--</option>
      <option value="trainer1">trainer 1</option>
      <option value="trainer2">trainer 2</option>
      <option value="trainer3">trainer 3</option>
    </select><br><br>
    <input type="submit" name="addMember" value="Add Member">
    </form>
</div>

{% endblock %}
