<!--File for update trainer using extension from base htnml-->

{% extends "base.html" %}
{% block content %}

<h2>Update Trainer</h2>
<div class="formdiv" id="trainerForm">
  <form>
    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname">
    <label for="lname">Last Name</label>
    <input type="text" name="lname" id="lname"></br></br>
    <label for="date">Date of Birth</label>
    <input type="date" name="DOB" id="DOB">
    <label for="gender">Gender</label>
    <select name="gender">
      <option value="gender">--Please choose an option--</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select></br></br>
    <label for="date">Date of Employment</label>
    <input type="date" name="DOE" id="DOE"></br></br>
    <label for="capacity">Capacity</label>
    <input type="number" name="capacity" id="capacity" min="1" max= "10"><br><br>
    <label for="LocationID">Location</label>
    <select name="LocationID">
      <option value="location1">Location1</option>
      <option value="location2">Location2</option>
      <option value="location3">Location3</option>
    </select><br><br>
    <label for="qualName">Qualification</label>
    <input type="text" name="qualName" id="qualName" placeholder="--dynamic list of qualifications--"><br><br>
    <input type="submit" name="addTrainer" value="Add Personal Trainer">
  </form>
</div>

{% endblock %}
