<!--File for update trainer using extension from base htnml-->

{% extends "base.html" %}
{% block head %}
<script src ="{{ url_for('static', filename='addRemoveQual.js') }}"></script>
{% endblock %}
{% block content %}
<h2>Add a New Personal Trainer</h2>
<div class="formdiv" id="UpdateTrainerForm">
  <form id="update_trainer" action="/updateTrainer/{{trainer[0]}}" method="post">
    <input type="hidden" name="trainer_id" value = "{{ trainer[0] }}">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" value= "{{ trainer[1] }}" required>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" value= "{{ trainer[2] }}" required></br></br>
    <label for="birth_date">Date of Birth</label>
    <input type="date" name="birth_date" id="birth_date" value= "{{ trainer[3] }}" required>
    <label for="gender">Gender</label>
    <select name="gender" required>
      <option value="" disabled selected>Select your option</option>
      {% if trainer[4] == 0 %}
        <option selected value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      {% elif trainer[4] == 1 %}
        <option value="male">Male</option>
        <option selected value="female">Female</option>
        <option value="other">Other</option>
      {% else %}
        <option selected value="male">Male</option>
        <option value="female">Female</option>
        <option selected value="other">Other</option>
      {% endif %}
    </select></br></br>

    <label for="date_employed">Date of Employment</label>
    <input type="date" name="date_employed" id="date_employed" value= "{{ trainer[5] }}" required></br></br>
    <label for="capacity">Capacity</label>
    <input type="number" name="capacity" id="capacity" min="1" max= "10" value= "{{ trainer[6] }}" required><br><br>
    <label for="location_id">Location</label>
    <select name="location_id" required>
      <option value="" disabled selected>Select your option</option>
      {% for l in locations %}
        {% if l[0] == trainer[7] %}
           <option selected value="{{ l[0] }}">{{ l[1] }}</option>
        {% else %}
          <option value="{{ l[0] }}">{{ l[1] }}</option>
        {% endif %}
      {% endfor %}
    </select><br><br>

    <input type="hidden" id="qualCount" name="qualCount" value="{{ qualCount }}">
    {% for tq in trainerQuals %}
    <input type="hidden" id="tQuals" name="tQuals" value="{{ tq[0] }}">
    {% endfor %}

    <div id="mainQualDiv">
      <div class="qualDivField" id="qualDivId">
        <label for="qual_id">Qualification</label>
        <select name='input_text' id = "qual_id" required>
          <option value=""disabled>Select your option</option>
          {% for q in quals %}
            <option value="{{ q[0] }}">{{ q[1] }}</option>
          {% endfor %}
        </select><br><br>
      </div>
    </div>
    <button type="button" id="removeQual" onclick="remove_qual();">Remove Qualification</button>
    <button type="button" id="addMoreQual" onclick="addQualEvent();">Add More Qualifications</button></br></br>

    <input type="submit" id="updateTrainerSubmit" name="updateTrainer" value="Update Personal Trainer">
  </form>
</div>

{% endblock %}
